@using HotelSurvey.Models
@model IEnumerable<Result>
@{
    ViewData["Title"] = "ListResponses";
}

<h2>Thanks for your respons</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <body>
        <h2>Here is the list of responses</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>ResultId</th>
                    <th>ResultText</th>
                    <th>ResultNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HotelSurvey.Models.Result r in Model)
                {
                    <tr>
                        <td>@r.ResultId</td>
                        <td>@r.ResultText</td>
                        <td>@r.ResultNummer</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</head>
</html>

